.navbar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    align-items: center;
    list-style: none;
    background: rgb(4, 4, 4);
    border-radius: 3px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    flex-grow: 1;
}

.navbar a:hover {
    background: red;
    border-radius: 3px;
}

.dropdown-menu {
    display: none;
}


.dropdown-menu a {
    float: none;
    color: rgb(255, 254, 254);
    padding: 5px 10px;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: red;
    border-radius: 3px;
}

.dropdown:hover  .dropdown-menu {
    display: block;
    position: absolute;
    background:rgb(9, 9, 9);
    border-radius: 3px;
    margin-top: 5px;
    width: 100%;
    padding: 10px 2px;

}

