.navbar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    list-style: none;
    background: rgb(4, 4, 4);
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

.navbar a {
    display: flex;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    flex-grow: 1;
}

.navbar a:hover {
    background: red;
    border-radius: 3px;
}

.dropdown-menu {
    display: none;
}


.dropdown-menu a {
    float: none;
    color: rgb(255, 254, 254);
    padding: 10px 10px;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: red;
    border-radius: 3px;
}

.dropdown:hover  .dropdown-menu {
    display: block;
    position: absolute;
    background:rgb(75, 74, 74);
    border-radius: 3px;
    margin-top: 0px;
    width:fit-content;
    padding: 10px 10px;

}

