.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: fixed;

    list-style: none;
    margin: 0;
    background: rgb(4, 4, 4);
}

.navbar a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-size: 16px;
}

.navbar a:hover {
    background-color: red;
}

.dropdown {
    display: flex
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color:aqua;
    min-width: 160px;
    z-index: 1;
}


.dropdown-menu a {
    float: none;
    color: black;
    padding: inherit;
    display: block;
    text-align: left;
}

.dropdown-menu a:hover {
    background-color: #ddd;
}

.dropdown:hover  .dropdown-menu {
 display: flex;
}

